# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.eslintcache

# dependencies
/node_modules
/.pnp
.pnp.js

# Ignore cache created with the Angular CLI.
/.angular
/.angular/cache

# testing
/coverage

# husky
/.husky

# production
/build
/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
/src/environments
.env.local
# Local Netlify folder
.netlify
