footer {
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 10px;
  margin-top: 24px;
  font-size: 14px;
}

p {
  margin-bottom: 0;
}
