header {
  max-width: 1440px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 10px;
  margin-bottom: 24px;
}

h1 {
  margin-bottom: 0;
  font-size: 24px;
}

ul {
  font-size: 16px;
  font-weight: 500;
}

.ant-menu-horizontal {
  border-bottom: none;
}

.ant-menu-horizontal > .ant-menu-item::after {
  bottom: 5px;
}
