header {
  max-width: 1440px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0 10px;
  margin-bottom: 24px;
}

h1 {
  margin-bottom: 0;
  font-size: 24px;
}

nav {
  max-width: 50%;
  flex-grow: 1;
}
