<div class="wrapper">
  <div class="content">
    <nz-card style="width: 300px" [nzCover]="coverTemplate" [nzActions]="[actionSetting, actionEdit]">
      <nz-card-meta
        nzTitle="About me"
        nzDescription="Here You can see information about me"
        [nzAvatar]="avatarTemplate"
      ></nz-card-meta>
    </nz-card>
    <ng-template #avatarTemplate><img [ngSrc]="logoUrl" [alt]="logoAlt" width="40" height="40" /></ng-template>
    <ng-template #coverTemplate><img [ngSrc]="imageUrl" [alt]="imageAlt" width="300" height="164" /></ng-template>
    <ng-template #actionSetting>
      <img [ngSrc]="githubUrl" [alt]="githubAlt" width="32" height="32" />
    </ng-template>
    <ng-template #actionEdit>
      <img [ngSrc]="linkedInUrl" [alt]="linkedInAlt" width="32" height="32" />
    </ng-template>
  </div>
</div>
