<div class="wrapper">
  <app-modal-add
    [(isVisible)]="isModalAddEmployeeVisible"
    [editingEmployeeId]="editingEmployeeId"
    [isSaveLoading]="isSaveLoading"
    [isEmployeeDataLoading]="isEmployeeDataLoading"
    [createEmployeeForm]="createEmployeeForm"
    (closeModal)="onCloseAddEmployeeModal()"
    (saveEmployee)="saveEmployee()"
  />
  <app-modal-remove
    [(isRemoveModalVisible)]="isRemoveModalVisible"
    [employeeData]="employeeData"
    (closeModal)="onCloseRemoveModal()"
    (removeEmployee)="onRemoveEmployee(employeeData.id)"
  />
  <div class="button">
    <app-button label="Add Employee" (click)="onOpenAddEmployeeModal()" disabled="{{ isEmployeesListLoading }}" />
  </div>
  <app-table
    [employeesList]="employeesList"
    [isEmployeesListLoading]="isEmployeesListLoading"
    (editEmployee)="getEmployee($event)"
    (openRemoveEmployeeModal)="onOpenRemoveModal($event)"
  />
</div>
