<div class="wrapper">
  <div class="buttons">
    <app-button label="Add" (click)="addEmployee()" />
    <app-button label="Edit" (click)="editEmployee()" nzGhost />
    <app-button label="Remove" (click)="removeEmployee()" type="default" nzDanger />
  </div>

  <nz-table #employeesTable [nzData]="employeesList" [nzLoading]="isEmployeesListLoading">
    <thead>
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Position</th>
        <th>FTE</th>
        <th>Salary</th>
      </tr>
    </thead>
    <tbody>
      @for (employee of employeesList; track employee.id) {
        <tr>
          <td>{{ employee.fields.name }}</td>
          <td>{{ employee.fields.surname }}</td>
          <td>{{ employee.fields.position }}</td>
          <td>{{ employee.fields.FTE * 100 + '%' }}</td>
          <td>{{ '$' + employee.fields.salary }}</td>
        </tr>
      }
    </tbody>
  </nz-table>
</div>
