<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="editingEmployeeId ? 'Edit Employee' : 'Add new Employee'"
  (nzOnCancel)="onCloseModal()"
  (nzOnOk)="onSaveEmployee()"
  nzClosable="{{ !isSaveLoading }}"
  nzMaskClosable="{{ !isSaveLoading }}"
>
  <ng-container *nzModalContent>
    @if (isEmployeeDataLoading) {
      <div class="loading">
        <nz-spin nzSimple></nz-spin>
      </div>
    } @else {
      <form nz-form [formGroup]="createEmployeeForm">
        <nz-form-item>
          <nz-form-label [nzSpan]="4" nzFor="name">Name</nz-form-label>
          <nz-form-control nzErrorTip="Please type employee name">
            <input type="text" nz-input formControlName="name" placeholder="Type employee name" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="4" nzFor="surname">Surname</nz-form-label>
          <nz-form-control nzErrorTip="Please type employee surname">
            <input type="text" nz-input formControlName="surname" placeholder="Type employee surname" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="4" nzFor="position">Position</nz-form-label>
          <nz-form-control nzErrorTip="Please type employee position">
            <input type="text" nz-input formControlName="position" placeholder="Type employee position" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="4" nzFor="fte">FTE</nz-form-label>
          <nz-form-control nzErrorTip="FTE is between 0 and 100%">
            <input
              type="number"
              nz-input
              formControlName="fte"
              placeholder="Type employee FTE"
              min="0"
              max="100"
              step="5"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="4" nzFor="salary">Salary</nz-form-label>
          <nz-form-control nzErrorTip="Salary is between 0 and 1000000">
            <input
              type="number"
              nz-input
              formControlName="salary"
              placeholder="Type employee salary"
              min="0"
              max="1000000"
            />
          </nz-form-control>
        </nz-form-item>
      </form>
    }
  </ng-container>
  <div *nzModalFooter class="footer">
    <app-button label="Cancel" nzType="primary" nzGhost (click)="onCloseModal()" disabled="{{ isSaveLoading }}" />
    <app-button label="Save" (click)="onSaveEmployee()" nzLoading="{{ isSaveLoading }}" />
  </div>
</nz-modal>
