<nz-modal
  [(nzVisible)]="isRemoveModalVisible"
  nzTitle="Remove Employee"
  (nzOnCancel)="onCloseRemoveModal()"
  (nzOnOk)="onRemoveEmployee(employeeData.id)"
>
  <ng-container *nzModalContent>
    <p>Do you want to remove {{ employeeData.fields.name }} {{ employeeData.fields.surname }}?</p>
  </ng-container>
  <div *nzModalFooter class="footer">
    <app-button label="Cancel" nzType="primary" nzGhost (click)="onCloseRemoveModal()" />
    <app-button label="Remove" (click)="onRemoveEmployee(employeeData.id)" nzDanger />
  </div>
</nz-modal>
<nz-table
  #employeesTable
  [nzData]="employeesList"
  [nzLoading]="isEmployeesListLoading"
  [nzScroll]="{ y: '400px', x: '920px' }"
  nzShowPagination
  [nzPageSize]="6"
>
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Position</th>
      <th>FTE</th>
      <th>Salary</th>
      <th>ACTIONS</th>
    </tr>
  </thead>
  <tbody>
    @for (employee of employeesTable.data; track employee.id) {
      <tr>
        <td>{{ employee.fields.name }}</td>
        <td>{{ employee.fields.surname }}</td>
        <td>{{ employee.fields.position }}</td>
        <td>{{ employee.fields.fte * 100 + '%' }}</td>
        <td>{{ '$' + employee.fields.salary }}</td>
        <td>
          <button nz-button nzType="primary" nzShape="circle" (click)="onEditEmployee(employee.id)">
            <span nz-icon nzType="edit" nzTheme="outline"></span>
          </button>
          <nz-divider nzType="vertical"></nz-divider>
          <button nz-button nzType="primary" nzShape="circle" nzDanger (click)="onOpenRemoveModal(employee)">
            <span nz-icon nzType="delete" nzTheme="outline"></span>
          </button>
        </td>
      </tr>
    }
  </tbody>
</nz-table>
